<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Home page</title>
</head>
<body>

    <div class="links-container">
        <a href="/about">ABOUT MR MCCLUR</a>
        <a href="/work">HIS VAST WORK</a>
        <a href="/gallery">GALLERY</a>
    </div>
    <div id="img-container">
        <a href="/about"> <img id="profile-img" src="/images/troy.jpg" alt="Troy McClur"> </a>
    </div>
</body>
</html>