<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <div id="content-table">
        <p>Contents</p>
        <ol>
            <a href="#movies"><li>You May Remember Troy McClure From Such Films As:</li></a>
            <li>Educational films and self help videos</li>
            <li>Television</li>
            <ol>
                <li>TV specials</li>
                <li>TV series</li>
                <li>Cartoons</li>
                <li>Sports programs</li>
            </ol>
            <li>Other</li>
            <ol>
                <li>Celebrity funerals</li>
                <li>Computer Travel Guides in Virtual Springfield</li>
                <li>Video Tour Guides</li>
                <li>Musicals</li>
            </ol>
            <li>Citations</li>
        </ol>
    </div>


    <div>
        
        <h2 id="movies">You May Remember Troy McClure From Such Films As:</h2>
        <ol>
        <ul>The Boatjacking of Supership '79 (ref. The Concorde: Airport '79)</ul>
        <ul>Calling All Quakers (with Dolores Montenegro)</ul>
        <ul>The Contrabulous Fabtraption of Professor Horatio Hufnagel</ul>
        <ul>Cry Yuma (ref. Cry Havoc, Cry Freedom)</ul>
        <ul>David vs. Super Goliath</ul>
        <ul>Dial M for Murderousness (ref. Dial M for Murder)</ul>
        <ul>The Electric Gigolo (ref. The Electric Horseman and American Gigolo)</ul>
        <ul>Give My Remains to Broadway (ref. Give My Regards to Broadway)</ul>
        <ul>Gladys the Groovy Mule (ref. Francis the Talking Mule)</ul>
        <ul>Good-Time Slim, Uncle Doobie, and the Great 'Frisco Freak-Out'</ul>
        <ul>The Greatest Story Ever Hulaed (ref. The Greatest Story Ever Told)</ul>
        <ul>Here Comes the Coast Guard (ref. Here Comes the Navy)</ul>
        <ul>Hydro, the Man With the Hydraulic Arms (ref. X: The Man with the X-ray Eyes)</ul>
        <ul>The Itchy & Scratchy Movie[1]</ul>
        <ul>Jagged Attraction (ref. Jagged Edge, Fatal Attraction)</ul>
        <ul>Leper in the Backfield (ref. Angels in the Outfield)</ul>
        <ul>Look Who's Still Oinking (ref. Look Who's Talking series)</ul>
        <ul>Make-Out King of Montana (ref. Cattle Queen of Montana)</ul>
        <ul>Meet Joe Blow (ref. Meet Joe Black, Meet John Doe)</ul>
        <ul>The Muppets Go Medieval (ref. Muppet movie series)
        <ul>"P" is for Psycho (ref. Psycho and the Alphabet Mystery novel series by Sue Grafton)
        <ul>Preacher With a Shovel (with Dolores Montenegro)
        <ul>The President's Neck is Missing (ref. The President's Plane is Missing)
        <ul>Radioactive Man
        <ul>Radioactive Man II: Bring On The Sequel
        Radioactive Man III: Oh God, Not Again
        The Revenge of Abe Lincoln
        The Seven-Year Old Bitch (ref. The Seven Year Itch)
        Sorry, Wrong Closet (ref. Sorry, Wrong Number)
        Suddenly Last Supper (ref. Suddenly Last Summer)
        They Came to Burgle Carnegie Hall
        Today We Kill, Tomorrow We Die (ref. US title of Dario Argento's Western Oggi a me... domani a te!)
        The Verdict Was Mail Fraud
        The Wackiest Covered Wagon in the West (ref. The Wackiest Ship in the Army, The Wackiest Wagon Train in the West)
    </ol>
        
        <h2>Educational films and self help videos</h2>
        You might remember Troy McClure from such educational films and self-help videos as:
        
        60 Minutes of Car Crash Victims
        Adjusting Your Self-O-Stat (with Brad Goodman)
        Alice's Adventure through the Windshield Glass (ref. Lewis Carroll's Through the Looking-Glass, and What Alice Found There)
        Alice Doesn't Live Anymore (ref. Alice Doesn't Live Here Anymore)
        Birds: Our Fine Feathered Colleagues
        The Decapitation of Larry Leadfoot
        Designated Drivers: The Lifesaving Nerds
        Dig Your Own Grave and Save
        Earwigs, Ew!
        Firecrackers: The Silent Killer
        Fuzzy Bunny's Guide to You-Know-What (sex education film for children, shown in Springfield Elementary, the film shown was loosely based on Fritz the Cat)
        Get Confident, Stupid!
        The Half-Assed Approach to Foundation Repair
        Here Comes the Metric System
        Lead Paint: Delicious But Deadly
        Locker Room Towel Fights: The Blinding of Larry Driscoll
        Man Versus Nature: The Road To Victory
        Meat and You – Partners in Freedom (a Meat Council film, number 3F03, part of the "Resistance is Useless" series)
        Mommy, What's Wrong With That Man's Face? (ref. The Man Without a Face)
        Mothballing Your Battleship
        Phony Tornado Alerts Reduce Readiness
        Shoplifters: BEWARE
        Smoke Yourself Thin
        Someone's in the Kitchen with DNA! (ref. children's song "I've Been Working on the Railroad")
        Two Minus Three Equals Negative Fun
        Young Jebediah Springfield (A Watch-and-Learn Production)
        Whoa! Don't Touch Me There
        Television
        TV specials
        Alien Nose Job (ref. Alien autopsy)
        Carnival of the Stars (ref. Circus of the Stars)
        Five Fabulous Weeks of The Chevy Chase Show
        Let's Save Tony Orlando's House
        Out With Gout '88
        The Miss American Girl Pageant
        The Simpsons 138th Episode Spectacular
        The Simpsons Spin-Off Showcase
        TV series
        AfterMannix (ref. AfterMASH and Mannix)
        America's Funniest Tornadoes (ref. America's Funniest Home Videos)
        Buck Henderson, Union Buster
        Handel with Kare (ref. The Odd Couple and Switch).
        I Can't Believe They Invented It! (a series of infomercials that parodied the "Amazing Discoveries" line of 90s infomercials)
        The Candy Bar That Cleans Teeth
        Eyeball Whitener
        Spiffy, the 21st Century Stain Remover
        The Juice Loosener
        Shortland Street (unlikely to be any relation to the real-life New Zealand hospital soap opera Shortland Street, however)
        Son of Sanford and Son
        Troy and Company's Summertime Smile Factory (ref. all those short-lived, B-celebrity hosted comedy/variety programs of the 1960s and 1970s, especially The Late Summer-Early Fall Bert Convy Show).
        Cartoons
        Christmas Ape (ref. Grape Ape and Ernest P. Worrel)
        Christmas Ape Goes to Summer Camp (ref. Ernest Goes to Camp, Rudolph and Frosty's Christmas in July)
        Sports programs
        The Thickest Necks In Women’s Diving [2]
        Gettin’ Rowdy With Curt Freakin’ Gowdy[2]
        Other
        Celebrity funerals
        Herschel Shmoikel Krustofsky, aka Krusty the Clown
        André the Giant, We Hardly Knew Ye (ref. Johnny, We Hardly Knew Ye)
        Shemp Howard: Today We Mourn A Stooge
        Computer Travel Guides in Virtual Springfield:
        Hats Off to Fargo
        Pinch Me, I'm in Boise
        Duluth, It'll grow on you
        Suddenly, Tulsa
        Smother me in Shreveport
        Living and Loving in Loebeck
        Bredonia: Gateway to Witchita
        Fairbanks Needs Women
        Eeeny Meeny Miny Murfreesboro
        Yuma, It's Senoirific
        Video Tour Guides:
        Rancho Relaxo
        Springfield Knowledgeum welcome video
        Welcome to Springfield Airport (an information kiosk film)
        Where's Nordstrom? (an information kiosk film)
        Musicals
        Stop the Planet of the Apes, I Want to Get Off! (references Stop the World – I Want to Get Off, a broadway musical from the 60s and Planet of the Apes)</div>
</body>
</html>